/* Main form css */
.login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.login {
  border-bottom: none;
  margin-bottom: 225px;
  font-size: 75px;
  color: black;
}

/* Pokeball / form container */
.form-container {
  width: 650px;
  height: 650px;
  border-radius: 50%;
  border: 20px solid black;
  background: linear-gradient(to bottom, red 50%, white 50%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Black middle stripe in pokeball */
.stripe {
  position: absolute;
  width: 100%;
  height: 20px;
  background: black;
}

/* Circle in the middle of pokeball */
.circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 20px solid black;
  border-radius: 50%;
  background: white;
}

.login-input {
  height: 25px;
  width: 300px;
  border-radius: 12px;
  font-size: 18px;
  padding: 15px;
}

.login-button {
  background-color: red;
  color: white;
  border-radius: 12px;
  width: 150px;
  margin-left: 100px;
  font-size: 18px;
}
