.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: red;
  display: flex;
  justify-content: center;
}

.navbar-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 30px;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 50px;
  height: 50px;
}

.nav-link {
  font-size: 25px;
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

.nav-link:hover {
  color: gold;
  cursor: pointer;
}

body {
  margin: 0;
  padding-top: 60px;
}
